.titleCreditsContainer {
    text-align: center;
}

.creditsContainer {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

    width: max-content;
    height: max-content;

    padding: 10px;

    background-color: white;
    border: solid black 2px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contentCreditsContainer {
    margin-top: 2%;
    padding: 25px;
}

.textPresentation>a {
    text-decoration: none;
    color: rgb(0, 0, 160);
    cursor: pointer;
}

.textPresentation>a:hover {
    border-radius: 5px;
    background-color: rgba(57, 57, 57, 0.197);
}

.loginLink {
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    margin-top: 10%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.115);
}

.loginLink>a,
.technosUsed-list a {
    text-decoration: none;
    color: black;
}

.loginLink:visited,
.technosUsed-list a:visited {
    text-decoration: none;
    color: black
}

.technosUsed-list {
    margin-top: 2%;
    margin-left: 12%;
}

h1 {
    font-size: 45px;
}

h2 {
    margin-top: 5%;
    text-decoration: underline;
}